
.quick-stats {
    --qs-bgcolor-1: #D8E0E8;
    --qs-bgcolor-2: #DEEAD6;
    --qs-bgcolor-3: #FDF5C8;
    --qs-bgcolor-4: #E8DDF5;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* overflow: scroll; */
}

.qs-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1.2rem 0 0 1.2rem;
}

.qs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
    
    height: 10rem;
    min-width: 60rem;
    overflow: scroll;

    color: hsl(0, 0%, 0%, .67);
    /* background-color: red; */
    /* margin-left: var(--universal-padding); */
}

.qs-container div {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.3rem;
    gap: 0.5rem;
    border-radius: 1.2rem;
}
.qs-container div p {
    text-transform: capitalize;
    font-weight: var(--fw-medium-semibold);
}

.qs-1 {
    background-color: var(--qs-bgcolor-1);
}
.qs-2 {
    background-color: var(--qs-bgcolor-2);
}
.qs-3 {
    background-color: var(--qs-bgcolor-3);
}
.qs-4 {
    background-color: var(--qs-bgcolor-4);
}